{% extends "layout.html" %}
{% block content %}

<section class="section">
    <h1 class="title">Welcome</h1>


    <p>This search engine was made by Marcus Gustafsson as an assignment
        in the course Web Intelligence at Linneaus University.

        The Search Engine searches an index of a set of articles on games or programming. </p>

        <p>The Github repo can be found at:
            <a href="https://github.com/marcusgsta/search_engine">github.com/marcusgsta/search_engine</a></p>

</section>
{% endblock %}
