<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Recommendation System for Movies</title>

    <link href="{{ url_for('static', filename='lib/bootswatch.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body role="document">
<div class="container" role="main">

    <nav>
        <ul>

            <li><a href="/ratings">All Ratings</a></li>
            <li><a href="/">All Users</a></li>
            <ul>


            {% if users %}

            {% for user in users %}
            <li><a href="/users/{{user[0]}}">{{user[1]}}</a></li>


            {% endfor %}
            {% else %}
            <p>Couldn't retrieve data</p>

            {% endif %}
                        </ul>
        </ul>
    </nav>


<div class="row">
    <h1>Recommendation System for Movies</h1>
    <h2>Username</h2>
    <div>

        {% if username %}

<table>
    <th>Id</th>
    <th>Name</th>
    <tr>
          <td>{{username.data[0].id}}</td>
          <td>{{username.data[0].name}}</td>
      </tr>
</table>

        {% else %}
          <p>Couldn't retrieve data</p>
        {% endif %}

        </div>

        <h2>Similar Users</h2>

        <div>

            {% if similarities %}

        <table>

            <th>Name</th>
            <th>Similarity</th>
            {% for sim in similarities %}
           <tr>
           <td>{{sim[0][1]}}</td>
           <td>{{sim[1]}}</td>
           </tr>
           {% endfor %}

        </table>

            {% else %}
              <p>Couldn't retrieve data</p>
            {% endif %}

            </div>

        {% if username %}
        <h2>Top three recommendations for {{ username.data[0].name }} (Euclidean) </h2>

        {% if recommended_movies %}
        <table>
            <th>Movie</th><th>Score</th>
            {% for row in recommended_movies %}
        <tr>
            <td>{{ row['movie'] }}</td>
            <td>{{ row['divbysim'] }}</td>
        </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Couldn't retrieve data</p>

        {% endif %}
        {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
